header {
  height: 258px;
  position: relative;
  padding: 40px 25px;
  box-sizing: border-box;
}

header::before,
header::after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
}

header::before {
  background-image: linear-gradient(180deg, #3d3f49 0%, #9500ed 100%);
  opacity: 0.5;
  z-index: 1;
}

header::after {
  background-image: url("../../assets/bg.jpg");
  opacity: 0.1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  z-index: 2;
}

header .headerLocation,
header .headerCrs {
  display: grid;
  position: relative;
  z-index: 3;
}

header .headerLocation {
  grid-template-columns: 1fr 1fr;
}

header .headerCrs {
  grid-template-columns: 1fr 4fr 1fr;
}

header .headerLocation p {
  color: rgba(255, 255, 255, 0.75);
  font-size: 12px;
  margin: 0;
}

header .headerLocation p:last-child,
header .headerCrs h2:last-child {
  text-align: right;
  animation-delay: 0.45s;
}

header .headerCrs h2 {
  margin: 0;
  font-weight: 700;
  font-size: 32px;
  animation-delay: 0.05s;
  letter-spacing: 1px;
}

header .headerCrs h2:last-child {
  animation-delay: 0.5s;
}

header .headerCrs .graphicContainer {
  padding: 2px 15px 0;
  display: grid;
  grid-template-columns: auto 1fr auto;
}

header .headerCrs .graphicContainer ul {
  margin: 0;
  list-style: none;
  padding: 0;
  text-align: center;
  padding-top: 3px;
}

header .headerCrs .graphicContainer ul li {
  display: inline-block;
  margin: 0 7px;
  vertical-align: middle;
  border-radius: 100%;
  background: white;
  position: relative;
}

header .headerCrs .graphicContainer ul:first-child li:last-child,
header .headerCrs .graphicContainer ul:last-child li:first-child {
  width: 8px;
  height: 8px;
}

header .headerCrs .graphicContainer ul li:nth-child(2) {
  width: 6px;
  height: 6px;
  opacity: 0.6;
}

header .headerCrs .graphicContainer ul:first-child li:first-child,
header .headerCrs .graphicContainer ul:last-child li:last-child {
  width: 4px;
  height: 4px;
  opacity: 0.4;
}

header .headerCrs .graphicContainer ul:first-child li:first-child {
  animation-delay: 0.1s;
}

header .headerCrs .graphicContainer ul:first-child li:nth-child(2) {
  animation-delay: 0.15s;
}

header .headerCrs .graphicContainer ul:first-child li:last-child {
  animation-delay: 0.2s;
}

header .headerCrs img {
  width: 42px;
  animation-delay: 0.25s;
  padding: 0 7px;
  margin: 0 auto;
  position: relative;
  top: 6px;
}

header .headerCrs .graphicContainer ul:last-child li:first-child {
  animation-delay: 0.3s;
}

header .headerCrs .graphicContainer ul:last-child li:nth-child(2) {
  animation-delay: 0.35s;
}

header .headerCrs .graphicContainer ul:last-child li:last-child {
  animation-delay: 0.4s;
}

@media screen and (max-width: 414px) {
  header .headerCrs h2 {
    font-size: 28px;
  }
}
