@import url("https://fonts.googleapis.com/css?family=Karla:400,500,700&display=swap");

.App {
  width: 414px;
  margin: 0 auto;
  height: 896px;
  overflow-y: scroll;
  background-color: #2c3039;
  margin-top: 50px;
  position: relative;
}

.App * {
  font-family: "Karla", sans-serif;
}

.App * {
  color: #fff;
}

.timesContainer {
  padding: 0 25px 25px;
  position: relative;
  z-index: 3;
}

ul.trainTimes {
  margin: -130px 0 0;
  list-style: none;
  padding: 0;
}

ul.trainTimes li {
  margin-bottom: 20px;
  filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.5));
}

ul.trainTimes li .cardTop {
  background: rgba(255, 255, 255, 0.15);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 20px;
}

.times {
  margin-bottom: 15px;
}

.times,
.cardTop .location {
  display: flex;
}

.times .departure,
.times .arrival,
.location .start,
.loaction .end,
.location .time {
  flex: 1;
}

.times .arrival,
.location .end {
  text-align: right;
}
.times .dots {
  flex: 2;
  text-align: center;
}

.location .time {
  text-align: center;
}

.times p {
  margin: 0;
  font-size: 24px;
  color: #fff;
  font-weight: 700;
}

.times .delayed p {
  color: #ff2897;
}

.times .delayed s {
  font-size: 16px;
  opacity: 0.5;
}

.times s.fade {
  opacity: 0;
  pointer-events: none;
}

.location p {
  font-size: 12px;
  margin: 0;
  color: #00ebc8;
}

.location p span {
  color: #cccccc;
  opacity: 0.75;
  font-size: 10px;
}

ul.trainTimes li .cardBottom {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #3d3f49;
  padding: 8px 20px;
  font-size: 10px;
}

.cardBottom p {
  margin: 0;
  color: rgba(255, 255, 255, 0.65);
  opacity: 0.8;
}

.cardBottom p span.operator {
  color: #fff;
}

.cardBottom p span.location {
  color: #ff2897;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background: #3b3d46;
  height: 70px;
}
