@import url("https://fonts.googleapis.com/css?family=Karla:400,700&display=swap");

body,
html {
  margin: 0;
}

.App {
  max-width: 414px;
  width: 100%;
  margin: 0 auto;
  max-height: 896px;
  height: 100vh;
  background-color: #2c3039;
  position: relative;
}

.App * {
  font-family: "Karla", sans-serif;
}

.App * {
  color: #fff;
}
